{% extends "layout.html" %}

{% block body %}
<br />
<br />
<br />

<div>
	{% for entry	 in entries %}
		<img src="../static/{{entry.img_path}}" />
		<table>
			<tr><td>作者:</td><td>{{entry.book_author}}</td></tr>
			<tr><td>书名:</td><td>{{entry.book_name}}</td></tr>
			<tr><td>购买时间:</td><td>{{entry.create_time}}</td></tr>
			<tr><td>购买数量:</td><td>{{entry.cot}}</td></tr>
			<tr><td>总价:</td><td>{{entry.total}}</td></tr>
		</table>
		<br />
		<div class='form-group'>
		评价:
		</div>
			<form action="{{url_for('submit_comment')}}" method='post'>
				<input type='hidden' name='order_id' value="{{entry.order_id}}" />
				<div class='from-group'>
					<textarea  name='content'></textarea>
				</div>
				<input type='submit' class='btn btn-success' value='submit' />
			</form>
	{% endfor %}
</div>

{% endblock %}
