{% extends "mylayout.html" %}
<link rel="stylesheet" href="{{url_for('.static',filename='spinner/jquery.spinner.css')}}" />
{% block body %}

<br />
<br />
{% for entry in entries %}

<div class="container" >
	<div class='col-md-10 col-md-offset-1' style=''>
		<div class='col-md-3 col-md-offset-1' style=''>
			<div> <img  src='../static/{{entry.img_path}}' /></div>
		</div>
		<div class='col-md-3'>
					作者:{{entry.author}}<br />
					简介:{{entry.brief}}<br />
					价格:{{entry.price}}<br />
					余量:{{entry.cot}}
		</div>
		<div  style='margin:10px'>
			<form action="{{url_for('buy')}}" method='get'>
				<input type='hidden' name='book_id' value='{{entry.uid}}' /><br />
				<input type='hidden' name='uid' value='{{session.uid}}' /><br />
				count:<input type='text' class="spanner" name='cot'/><br />
				{#<a href="{{url_for('buy',book_id=entry.uid,uid=session.uid)}}"<button>点击购买</button></a>#}
				<input type='submit' class='default' value='点击购买' />				
			</form>
		</div>
	</div>
	<br /><br /><br /><br /><br /><br /><br />
	<div class='group-form'>
		<hr style="width:700px;height:10px"/>
	</div>

</div>
{% endfor %}
<script type='text/javascript'>
$('.spinner').spinner();
</script>
<script type="text/javascript" src="http://libs.useso.com/js/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('.static',filename='spinner/jquery.spinner.js')}}"></script>
{% endblock %}
