<!doctype html>
<title>简易图书商城</title>
<meta http-equiv='Content-Type' content='text/html' charset=utf-8>
<link rel=stylesheet type=text/css href="{{url_for('static',filename='style.css')}}">
<link href="{{url_for('.static',filename='bootstrap.min.css')}}" rel="stylesheet" />

<div class=page >
	<center><h1>简易图书商城</h1><center>
	<div class=metanav>
		{% if not session.logged_in %}
			<h4><a href="{{url_for('login')}}">log in</a></h4>
		{% else %}
			<h4>user:{{session.username}}&nbsp<a href="{{url_for('logout')}}">log out</a></h4>
		{% endif %}
	</div>

	{% for message in get_flashed_messages() %}
		<div class=flash>{{message}}</div>
	{% endfor %}
	{% block body %}{% endblock %}

</div>
<script src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js'></script>
<script src="url_for('.static',filename='bootstrap.min.js')"></script>
