{% extends "layout.html" %}
{% block body %}
<br />
<br />
<br />
<br />
<div >
	<br />
	<img src="../static/{{img_path}}" />
	<br />
	<br />
</div>
<form action={{url_for('modify_entry')}} enctype='multipart/form-data' method=post>
	<input type='hidden' name='uid' value={{uid}} /><br />
	<table class='table-condensed'>
	<tr>
		<td>author:</td><td><input type='text' name='author' value={{author}} /></td>
	</tr>
	<tr>
	<td>name:</td><td><input type='text' name='name' value={{name}} /></td>
	</tr>
	<tr>
	<td>brief:</td><td><input type='textarea' name='brief' value={{brief}} /></td>
	</tr>
	<tr>
	<td>price:</td><td><input type='text' name='price' value={{price}} /></td>
	</tr>
	<tr>
	<td>count:</td><td><input type='text' name='cot' value={{cot}} /></td>
	</tr>
	<tr><td>conver</td><td><input type='file' name='file' /></td>
	</table>
	<input type='submit' class='btn btn-info' value='submit' />
</form>
{% endblock %}
